player-connection-mode=Listen
player-connection-guid=3780517245
player-connection-debug=0
player-connection-project-name=Multiplayer3D
player-connection-ip=192.168.0.108
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e274750194964773ab4934aa12dd8725
